
*{
    margin: 0;
    padding: 0;
}
/* Estilado cabezera */
header{
    background-color: black;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index:2;
    
    
}

#titulo{
    color: white;
    width: 30%;
    font-size: 3em;
    float: left;
    margin-left: 2%;
    margin-top: 1%;

}
#menu{
    width: 60%;
    float: right;
    position: relative;
    top: 35%;

}
.sli{
    display: inline;
    list-style: none;
    padding-inline: 5px;

}
.quitar{
    text-decoration: none;
    color: rgb(139, 245, 245);

}
.quitar:hover{
    color: rgb(241, 96, 96);
    font-size: 0.95em;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.menublanco{

    color: white;
}
/* Estilado imagen pricipal*/
#imgInicio{
    width: 100%;
    height: 700px;
    z-index: 1;
    overflow: hidden;

}
#fInicio{
    width: 100%;
    padding-top: 0%;
    margin: 0px;
    filter: saturate(90%) blur(2px);
    
}
#h2Imagen{

    position: absolute;
    top: 200px;
    left: 150px;
    color: rgb(241, 240, 240);
    font-size: 4em;
    text-align: center;
    text-shadow: 3px 3px 4px black;
    
}


/*Estilado del footer*/

.footer{

    background-color: black;
    color: white;
    overflow: hidden;
}
.footer div{

    width: 40%;
    height: 100px;
    margin: 5%;
    padding-bottom: 3%;
    
}

.footer li{

    list-style: none;
    text-align: center;
    margin: 3%;
    
}
#left{
    position: relative;
    float: left;
    
}
.right{
    position: relative;
    float: right;
    text-align: left;
    
}
.right a {
    text-decoration: none;
    color: white;

}
.enfasis {
    font-size: 1.5em;
    border-bottom: 2px solid white;
    border-radius: 30%;
    padding-bottom: 2%;
}

/* Estilado del contenido pagina Inicio*/

    /*div sobre los Pacos*/

.historia{

    width: 100%;
    height: 700px;
    margin-top: 15em;


}
.historialeft{

    width: 50%;
    float: left;

}
    /* posicionamiento de las imagenes */

#imgInicio1{
    width: 45%;
    margin-left: 5em;
    display: block;
}
#imgInicio2{
    width: 35%;
    margin: 2em;
    margin-top:5em;

}
#imgInicio3{
    width: 40%;
    margin-bottom: 6em;
    margin-left: 2em;
}

   /*Fin del posicionamiento de las imagenes*/
.historiaright{

    width: 48%;
    text-align: center;
    float: right;
    margin-top: 6em;
    padding-right: 1.3em;

}
.historiaright h3{
    font-size: 2em;
    margin-bottom: 1em;
    color: grey;
}
.historiaright p{
    font-size: 1.4em;
}
rojo{
    color: rgb(165, 33, 33);
    font-size:2.1em;
}

    /*div nuestra carta*/

.carta{

    width: 100%;
    height: 700px;
    margin-top: 10em;
}
    /*div de la izquierda*/
.cartaleft{
    width: 45%;
    margin-top: 6em;
    margin-left: 2em;
    float: left;
    text-align: center;
}
.cartaleft p{
    font-size: 1.4em;

}
.cartaleft h3{
    font-size: 2em;
    margin-bottom: 1em;
    color: grey;
}

    /*div de la derecha*/

.cartaright{
    width: 50%;
    float: right;
}
#imgInicio4{

    width: 35%;
    margin-left: 3em;
    margin-bottom: 2e;
    display: block;
    float: left;
}
#imgInicio5{

    width: 35%;
    margin-top: 9em;
    margin-left: 3em;
    margin-right: 2em;
    float: right;
}
#imgInicio6{

    width: 40%;
    margin-top: 3em;
    margin-left: 3em;
    display: block;
    float: left;

}
#imgInicio7{

    width: 35%;
    margin-top: 4em;
    margin-right: 4em;
    float: right;

 
}

    /*div granada*/



.granada{
    width: 100%;
    height: 700px;
    margin-top: 10em;
    margin-bottom: 10em;
}

/*Maquetacion derecha*/

.gright{

    width: 45%;
    text-align: center;
    float: right;
    margin-top: 9em;
    margin-right: 3em;

}
.gright p{

    font-size: 1.4em;
}

.gright h3{
    font-size: 2em;
    margin-bottom: 1em;
    color: grey;
}

/*Maquetacion Izquierda*/

.gleft {

    width: 45%;
    float: left;

}


/* Estilado del contenido pagina Menú*/

    /*MENU DEL DIA*/
.menudia{

    width: 100%;
    height: 815px;
    margin-top: 14em;
}

.menudia h3{

    width: 45%;
    font-size: 3.5em;
    color:rgb(165, 33, 33);
    text-align: center;
    float: left;
    margin-top: 1.2em;

}


.mright{

    width: 45%;
    float: right;
    text-align: center;
    margin-top: 4em;
    margin-right: 1.5em;

}

.mright li{

    list-style: none;
    font-size: 1.2em;


}

#tituloMenu{

    color: grey;
    font-size: 2.3em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

#imgMenu1{

    float: left;
    width: 25%;
    margin-left: 8.7em;
    margin-top: 3em;
}

    /*FIN MENU DEL DIA*/

    /*TIPOS DE MENU*/

.tiposmenu{

    width: 100%;
    height: 700px;

}

.tiposmenu ol{
    
    margin-left: 10em;
    margin-top: 10em;
    list-style: upper-roman;
    float: left;
}
.tiposmenu a{

    text-decoration: none;
    color: black;
    padding-inline-start: 1em;

}
.tiposmenu a:hover{

    color:rgb(131, 24, 24);
}
.tiposmenu li{
    
    margin-bottom: 2em;
    font-size: 2em;
}
.tiposmenu h3{
    color: gray;
    text-align: center;
    float: right;
    font-size: 2.5em;
    margin-top: 5em;
    margin-right: 6em;
}

   /*FIN TIPOS DE MENU*/
