header{
    background-color: black;
    width: 100%;
    height: 80px;
    
}
#titulo{
    color: white;
    width: 30%;
    font-size: 3em;
    float: left;
    margin-left: 2%;
    margin-top: 1%;

}
#menu{
    width: 60%;
    float: right;
    position: relative;
    top: 35%;

}
.sli{
    display: inline;
    list-style: none;
    padding-inline: 5px;

}
.quitar{
    text-decoration: none;
    color: rgb(139, 245, 245);

}
.quitar:hover{
    color: rgb(177, 120, 120);
    font-size: 0.9em;
    cursor: pointer;
}
section{
    width: 950px;
    height: 550px;
    border: 1px solid black;
    

}
#fInicio{
    width: 100%;
    padding-top: 0%;
    float:left;
    top: 0px;
}




