
*{
    margin: 0;
    padding: 0;
}
/* Estilado cabezera */
header{
    background-color: black;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index:2;
    
    
}

#titulo{
    color: white;
    width: 30%;
    font-size: 3em;
    float: left;
    margin-left: 2%;
    margin-top: 1%;

}
#menu{
    width: 60%;
    float: right;
    position: relative;
    top: 35%;

}
.sli{
    display: inline;
    list-style: none;
    padding-inline: 5px;

}
.quitar{
    text-decoration: none;
    color: rgb(139, 245, 245);

}
.quitar:hover{
    color: rgb(241, 96, 96);
    font-size: 0.95em;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.menublanco{

    color: white;
}
/* Estilado imagen pricipal*/
#imgInicio{
    width: 100%;
    height: 700px;
    z-index: 1;
    overflow: hidden;
    margin: 0px;  

}
#fInicio{
    width: 100%;
    padding-top: 0%;
    margin: 0px;
    filter: saturate(90%) blur(2px);
    
}
#h2Imagen{

    position: absolute;
    top: 200px;
    left: 150px;
    color: rgb(241, 240, 240);
    font-size: 4em;
    text-align: center;
    text-shadow: 3px 3px 4px black;
    
}


/*Estilado del footer*/

.footer{

    background-color: black;
    color: white;
    overflow: hidden;
}
.footer div{

    width: 40%;
    height: 100px;
    margin: 5%;
    padding-bottom: 3%;
    
}

.footer li{

    list-style: none;
    text-align: center;
    margin: 3%;
    
}
#left{
    position: relative;
    float: left;
    
}
.right{
    position: relative;
    float: right;
    text-align: left;
    
}
.right a {
    text-decoration: none;
    color: white;

}
.enfasis {
    font-size: 1.5em;
    border-bottom: 2px solid white;
    border-radius: 30%;
    padding-bottom: 2%;
}

/* Estilado del contenido pagina Inicio*/

.historia{

    width: 100%;
    height: 700px;
    
}
.historiaright{

    width: 50%;
    text-align: center;
}
.historiaright h3{
    font-size: 2em;
    margin-bottom: 1em;
    color: grey;
}
.historiaright p{
    font-size: 1.4em;
}
.historiaright pacos{
    color: rgb(165, 33, 33);
    font-size:2.1em;
}
